/* Variables */
:root {
    --dark-bg-color: #1F2937;
    --light-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --cta-button-color: #3882F6;
    --quote-bg-color: #E5E7EB;
    --main-text-color: #1F2937;
}

/* General body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--dark-bg-color); /* Hero and footer background color */
    color: var(--light-text-color); /* defult text color */
}

/* Hero Section */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background-color: var(--dark-bg-color);
    gap: 30px;
}

.hero-content {
    padding-right: 30px;
}

.hero-content h1 {
    font-size: 48px;
    color: var(--light-text-color);
    font-weight: 900; 
    margin-top: 150px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.hero-content button {
    background-color: var(--cta-button-color);
    color: var(--light-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 150px;
    border-radius: 10px;
}

.hero-image {
    justify-self: end;
}

.image-placeholder {
    width: 110%;
    height: 200px;
    background-color: #333;
}

.image-placeholder p {
    color: var(--secondary-text-color);
    padding: 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background-color: var(--dark-bg-color);
}

.navbar ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 18px;
}

.header-logo h1 {
    font-size: 24px;
    color: var(--light-text-color);
}

/* Information Section */
.info-section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;
    color: var(--main-text-color)
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 40px;
}

.info-grid {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 150px;
    margin: 0 20px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 4px solid var(--cta-button-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-text {
    font-size: 16px;
    color: var(--main-text-color);
    text-align: center;
}

/* Quote Section */
.quote-section {
    background-color: var(--quote-bg-color);
    padding: 50px;
    text-align: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--main-text-color);
}

.quote-footer {
    font-size: 36px;
    font-weight: 900;
    color: var(--main-text-color);
    background-color: var(--quote-bg-color);
    text-align: right;
}

/* Footer */
footer {
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 20px;
}

.cta-footer {
    background-color: var(--dark-bg-color);
    padding: 50 px;
}

.cta-footer h2 {
    font-size: 36px;
    font-weight: 900;
}

.cta-footer p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-footer .cta-button {
    background-color: var(--cta-button-color);
}

.footer-copyright {
    padding: 20px;
    font-size: 14px;
    color: var(--secondary-text-color)
}